@model ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error</h1>

@if (Model != null && Model.ShowRequestId)
{
    <p>
        <strong>Request Id:</strong> <code>@Model.RequestId</code>
    </p>
}

<p>
    An unexpected error has occurred. Please try again later.
</p>